.subscribeButton {
  background-color: var(--yellow-500);
  display: flex;
  align-items: center;
  justify-content: center;

  height: 4rem;
  width: 16rem;
  border-radius: 4rem;

  color: var(--gray-900);
  font-weight: bold;
  font-size: 1.25rem;

  transition: filter 0.25s;

  &:hover {
    filter: brightness(1.25);
  }

  &:active {
    filter: brightness(0.8);
  }
}
