.headerContainer {
  height: 5rem;
  border-bottom: 1px solid var(--gray-700);
}

.headerContent {
  display: flex;
  align-items: center;

  max-width: 70rem;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;

  nav {
    margin-left: 5rem;
    height: 100%;

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 100%;
      line-height: 5rem;
      color: var(--gray-300);
      transition: color 0.25s;

      & + a {
        margin-left: 2rem;
      }

      &:hover {
        color: var(--white);
      }

      &.active {
        color: var(--white);
        font-weight: bold;
      }

      &.active::after {
        content: '';
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: 1px;
        left: 0;
        border-radius: 3px 3px 0 0;
        background-color: var(--yellow-500);
      }
    }
  }

  button {
    margin-left: auto;
  }
}
