.signInButton {
  background-color: var(--gray-800);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border-radius: 3rem;
  padding: 0 1.5rem;

  color: var(--gray-100);
  font-weight: bold;
  transition: filter 0.25s;

  &:hover {
    filter: brightness(1.25);
  }

  &:active {
    filter: brightness(0.8);
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;

    &:first-child {
      margin-right: 1rem;
    }

    &.closeIcon {
      width: 1.25rem;
      height: 1.25rem;
      margin-left: 1rem;
    }
  }
}
